html, body {
    background-color: rgb(247, 200, 228);
    font-family: "Georgia", serif;
    margin: 10px;
    padding: 5px;
    font-size: 25px;
    
}

/* Linkide kujundused*/
a:link {
    color: rgb(121, 0, 111) /* Algselt on kodulehe link tumelilla. */
}

a:visited {
    color: rgb(67, 35, 1); /* Kui kodulehte on külastatud, muutub link pruuniks. */
}

a:hover {
    color: black; /* Kui hiir on lingi peal, on tekst must. */
}

a:active {
    color: rgb(74, 253, 74); /* Kui lingile klikkida (ehk teha aktiivseks), muutub link erkroheliseks. */
}

h1 {
    font-size: 35px;
    color: rgb(170, 2, 75);
}

h2 {
    font-size: 25px;
    color: rgb(93, 29, 74);
}

h3 {
    font-size: 20px;
    color: rgb(122, 38, 111);
}

p, li, td {
    font-size: 25px;
    color:rgb(56, 6, 40)
}

.sisukord {
    text-align: right;
}

th {
    color: rgb(99, 26, 90);
}