html, body {
    background-color: rgb(247, 200, 228);
    font-family: "Georgia", serif;
    margin: 10px;
    padding: 5px;
    font-size: 25px;
}

.main-osa {
    column-count: 2;
    column-gap: 2rem;
    padding: 1rem;
    line-height: 1.5;
}

/* liikuv pilt */
.konteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  height: 100%;
  width: 100%;
}

@keyframes liikuv-pilt {
  0% {
    box-shadow: 0 5px 15px 0px #00000099;
    transform: translateY(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px #00000033;
    transform: translateY(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px #00000099;
    transform: translateY(0px);
  }
}

.avatar {
  box-sizing: border-box;
  overflow: hidden;
  height: 200px;
  width: 200px;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0 5px 15px 0px #00000099;
  transform: translateY(0px);
  animation: liikuv-pilt 6s ease-in-out infinite;
  
}

.avatar img {
  width: 100%;
  height: auto;
}

/* Linkide kujundused*/
a:link {
    color: rgb(121, 0, 111) /* Algselt on kodulehe link tumelilla. */
}

a:visited {
    color: rgb(67, 35, 1); /* Kui kodulehte on külastatud, muutub link pruuniks. */
}

a:hover {
    color: black; /* Kui hiir on lingi peal, on tekst must. */
}

a:active {
    color: rgb(74, 253, 74); /* Kui lingile klikkida (ehk teha aktiivseks), muutub link erkroheliseks. */
}

h1 {
    font-size: 35px;
    color: rgb(170, 2, 75);
}

h2 {
    font-size: 25px;
    color: rgb(93, 29, 74);
}

h3 {
    font-size: 20px;
    color: rgb(122, 38, 111);
}

p, li, td {
    font-size: 25px;
    color:rgb(56, 6, 40);
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 1px;
    text-align: justify;
}

ul {
    list-style-type: square;
}

.sisukord {
    text-align: right;
}

/* tabeli kujundus */
table {
  border: 3px solid #333;
}

th {
    color: rgb(99, 26, 90);
}

td {
    text-align: center;
}